---
import Layout from '@/layouts/Layout.astro';

const locale = 'ja';
---

<Layout locale={locale}>
  <h1 class="w-full h-full px-10 mt-5 text-2xl">Download</h1>
  <main class="w-full h-full p-5 md:p-20">
    <div class="flex flex-col items-center">
      <div class="w-full">
        <h2 class="my-2 text-3xl text-green-600"># 職務経歴書</h2>
        <embed src="/yuta-hidaka-resume-japanese.pdf" width="100%" height="750px" />
        
        <h2 class="my-2 text-3xl text-green-600"># 履歴書</h2>
        <h3 class="my-2 text-2xl text-green-300 underline">
          <a href="https://docs.google.com/document/d/1syLxkqWg5PJAJl21CdE5k-zd2JPFG2VxusASk-WgPog/export?format=pdf">
            download
          </a>
        </h3>
        <embed 
          src="https://docs.google.com/document/d/1syLxkqWg5PJAJl21CdE5k-zd2JPFG2VxusASk-WgPog/preview?pli=1" 
          width="100%" 
          height="750px" 
        />
      </div>
    </div>
  </main>
</Layout>
